*{
	padding:0px;
	margin:0px;
	font-family: sans-serif;
}

.papapapapa{
	width:410px;
	border-radius:8px;
	padding:30px;
	margin:4% auto;
	border:solid 1px rgb(224, 224, 224);

}

.sadsadsd{
	width:89%;
	height:auto;
	 padding:18px;
	 text-indent: 5x;
	 border:solid 2px rgb(26, 115, 232);
	 border-radius:4px;
	 margin-top:10px;
	 outline:none;

}

@media screen and (max-width: 700px){
	.papapapapa{
	width:90%;
	border-radius:8px;
	padding:10px;
	margin:4% auto;
	border:solid 1px rgb(224, 224, 224);

}

.mobile{
	display:none;
}
.mobile2{
 width:100%;
}

}